.scrollbar_disable {
	scrollbar-width: none;
	-ms-overflow-style: none;
}
.scrollbar_disable::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.root {
	user-select: none;

	&__container {
		overflow-x: scroll;

		&__primaryList {
			padding: 10px 20px;
			justify-content: space-between;
			gap: 130px;
			list-style: none;
			display: flex;
			list-style: none;

			&_primaryItem {
				align-items: center;
				gap: 10px;
				max-width: 50px;
				display: flex;

				&_clientMore {
					display: flex;
					align-items: center;
				}

				&_clientName {
					justify-content: center;
					display: flex;
					flex-direction: column;
					color: #4acaa2;
				}

				&_item {
					&_status {
						width: 15px;
						height: 15 px;
					}
				}
			}
		}
	}
}
