.layout {
	height: 100vh;
	width: 100vw;
	overflow: hidden;

	.horizontal__wrapper {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 100%;
	}

	.outlet__wrapper {
		width: 100%;
		height: 100%;
		padding: 20px;
		overflow: auto;
	}

	.vertical__wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}
