.root {
	outline: 1px solid #b9b9b9;
	margin: 10px;

	&__tableHead {
		outline: 1px solid #b9b9b9;
		gap: 150px;
		white-space: nowrap;
		padding: 10px 50px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		justify-items: center;
		overflow-x: scroll;

		&__arrows {
			justify-content: center;
			max-width: 50px;
			min-width: 50px;
			display: flex;
			align-items: center;
			gap: 5px;

			&_filterBy {
				font-weight: 600;
			}
		}
	}
}

.scrollbar_disable {
	scrollbar-width: none;
	-ms-overflow-style: none;
}
.scrollbar_disable::-webkit-scrollbar {
	width: 0;
	height: 0;
}
