.root {
	width: 100vw;
	height: 100vh;
	display: flex;
	padding: 20px;
	justify-content: center;
	align-items: center;

	&__container {
		width: 300px;
		height: fit-content;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		row-gap: 25px;

		&__validate {
			width: 100%;
			&_textErr {
				color: #e03737;
				display: block;
				padding: 4px;
			}
		}
		&__button {
			width: 100%;
		}
	}
}
