.root {
	&__blackout {
		display: none;
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		&_active {
			display: block;
		}
	}

	&__container {
		padding: 0px 20px;

		&_title {
			padding-bottom: 20px;
			display: flex;
			flex-direction: row;
			align-items: end;
			gap: 10px;

			&_editBtn {
				z-index: 3;
			}

			&_text {
				color: #384043;
				font-weight: 700;
				font-size: 20px;
			}

			&_submit {
				z-index: 2;
			}
		}

		&_infoBlock {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 0 30px;
			padding: 18px;
			background-color: #d4d4d4;
			border-radius: 20px;
			z-index: 2;

			&_info {
				z-index: 2;
			}
		}
	}
}
